# Normalizing and Creating a General Data Set
- Consumption we need to normalize somehow to MWh
    - [We can find energy conversions here](https://www.eia.gov/tools/faqs/faq.php?id=667&t=6)
    - The end result in `total_consumption` will be in MWh
    - This meets my expectations as I expect in a month millions of MWh to power an entire state
- Balance is actually pretty clean, we just have to aggregate somehow to the daily
- Weather is also relatively clean, I left some things the same depending on the downstream processing

In [4]:
import sys
sys.path.append('/Users/mariamielniczuk/Documents/milestone2/Energy-Consumption-Forecasting/src/scripts/')

In [10]:
import ETL

In [2]:
import pandas as pd
import altair as alt
from IPython.display import display
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf


pd.set_option('display.max_columns', 500)
pd.set_option('future.no_silent_downcasting', True)
# alt.data_transformers.enable("vegafusion")

ModuleNotFoundError: No module named 'ETL'

In [10]:
alt.__version__

'5.0.1'

## Data Transforms

In [11]:
start_date = pd.to_datetime('2016-01-01')
coal = 0.88 * 2000 # kWh/pound * M/1000k * 2000pound/1ton * 1000thousand
nat_gas = 0.13 # kWh/cubic foot * M/1000k * 1000thousand
petrol_l = 12.90 / 42 # kWh/gallon * M/1000k * barrel/42gallon * 1000thousand
petrol_c = 1.18 * 2000 # kWh/pound * M/1000k * 2000pound/1ton * 1000thousand

In [12]:
balance = pd.read_csv("../../data/balance_sheet.csv", parse_dates=['data_date']) # megawatts
bcols = [
    'demand',
    'net_generation', 
    'total_interchange',	
    'net_generation_coal', 
    'net_generation_natural_gas', 
    'net_generation_nuclear',
    'net_generation_hydropower_and_pumped_storage', 
    'net_generation_solar', 
    'net_generation_wind', 
    'net_generation_other_fuel_sources'
]
balance[bcols] = balance[bcols].replace(',', '', regex=True).astype(int)
# balance.groupby('data_date')[bcols].mean().round(0).reset_index()
# balance.groupby([balance.data_date.dt.month, balance.data_date.dt.year])[bcols].mean().round(0)
# balance.groupby([balance.data_date.dt.day, balance.data_date.dt.month, balance.data_date.dt.year])[bcols].mean().round(0)

FileNotFoundError: [Errno 2] No such file or directory: '../../data/balance_sheet.csv'

In [4]:
consumption = pd.read_csv("../../data/consumption_mi.csv", header=4).dropna(axis=0).drop(['units', 'source key'], axis=1)
consumption['description'] = consumption['description'].apply(lambda row: '_'.join(row.split(': ')[1].split(' ')))
consumption = consumption.T
consumption.columns = consumption.iloc[0, :]
consumption = consumption.drop('description', axis=0).reset_index(names='date')
consumption['date'] = pd.to_datetime(consumption['date'], format='%b %Y')
consumption['petroleum_liquids'] = consumption['petroleum_liquids'].replace('NM', 0.0)
consumption['total_consumption'] = consumption['coal'].astype(float)*coal + \
    consumption['petroleum_liquids'].astype(float)*petrol_l + \
    consumption['petroleum_coke'].astype(float)*petrol_c + \
    consumption['natural_gas'].astype(float)*nat_gas
consumption[consumption['date'] >= start_date].to_csv("../../data/targets.csv", index=False)

In [5]:
weather = pd.read_csv("../../data/WeatherReport.csv", parse_dates=['DATE'])
wcols = [
    'DAPR',
    'MDPR',
    'PRCP',
    'SN52',
    'SN53',
    'SNOW',
    'SNWD',
    'SX52',
    'SX53',
    'TMAX',
    'TMIN',
    'TOBS',
    'WESD',
    'WSFG',
    'WT01',
    'WT03',
    'WT04',
    'WT05',
    'WT06',
    'WT11'
]
# weather.groupby([weather.DATE.dt.month, weather.DATE.dt.year])[wcols].mean()
# weather[wcols].describe()
# weather[weather['DATE'] >= date].groupby([weather.DATE.dt.day, weather.DATE.dt.month, weather.DATE.dt.year])[wcols].mean()

In [6]:
b = balance.groupby([balance.data_date.dt.day, balance.data_date.dt.month, balance.data_date.dt.year])[bcols] \
    .mean() \
    .round(0)
b.index = b.index.set_names(['day', 'month', 'year'])
b = b.reset_index()
b.insert(1, 'date', pd.to_datetime(b[['day', 'month', 'year']]))
b = b.drop(['day', 'month', 'year'], axis=1)

In [7]:
w = weather[weather['DATE'] >= start_date].groupby([weather.DATE.dt.day, weather.DATE.dt.month, weather.DATE.dt.year])[wcols] \
    .mean() \
    .round(0)
w.index = w.index.set_names(['day', 'month', 'year'])
w = w.reset_index()
w.insert(1, 'date', pd.to_datetime(w[['day', 'month', 'year']]))
w = w.drop(['day', 'month', 'year'], axis=1)

In [8]:
b.merge(w, on='date').sort_values('date').to_csv("../../data/features.csv", index=False)

1. Blow up our data:
- Sum demand and get percents by day
    - If 110 MWh generated and on day 1 11 MWh was generate that is 10%
    - We say that 10% of energy was consumed
    - We are assuming that 1:1 consumption:generation on the day
2. Articulate the model change/play with FTN

## Let's Expand Our Targets

In [9]:
features = pd.read_csv("../../data/features.csv", parse_dates=['date'])
targets = pd.read_csv("../../data/targets.csv", parse_dates=['date'])

In [10]:
targets

,date,coal,petroleum_liquids,petroleum_coke,natural_gas,total_consumption
0,2016-01-01,2440.0,23.0,6.0,15120.0,4.310533e+06
1,2016-02-01,1966.0,17.0,25.0,15400.0,3.521167e+06
2,2016-03-01,1659.0,19.0,28.0,17555.0,2.988208e+06
3,2016-04-01,1331.0,17.0,35.0,21255.0,2.427928e+06
4,2016-05-01,1668.0,38.0,31.0,21153.0,3.011602e+06
...,...,...,...,...,...,...
97,2024-02-01,961.0,14.0,65.0,33998.0,1.849184e+06
98,2024-03-01,565.0,22.0,23.0,30692.0,1.052677e+06
99,2024-04-01,919.0,12.0,53.0,32405.0,1.746736e+06
100,2024-05-01,917.0,18.0,58.0,36500.0,1.755551e+06
101,2024-06-01,1367.0,0.0,73.0,34578.0,2.582695e+06

In [11]:
totals = features.groupby([features.date.dt.month, features.date.dt.year])['demand'].sum()
totals.index = totals.index.set_names(['month', 'year'])
totals = totals.reset_index()
totals.insert(1, 'date', pd.to_datetime(totals[['month', 'year']].assign(day=1)))
totals = totals.drop(['month', 'year'], axis=1)
totals.columns = ['date', 'total_demand']

In [12]:
percents = totals.merge(features[['date', 'demand']], on='date', how='right')
percents['total_demand'] = percents['total_demand'].ffill()
percents['percents'] = percents['demand'] / percents['total_demand']

In [13]:
new_targets = targets.merge(percents[['date', 'percents']], on='date', how='right')
new_targets['total_consumption'] = new_targets['total_consumption'].ffill()
new_targets = new_targets.ffill()
new_targets['consumption'] = (new_targets['total_consumption'] * new_targets['percents']).round(0)
new_targets = new_targets.drop(['percents', 'total_consumption'], axis=1)
new_targets

,date,coal,petroleum_liquids,petroleum_coke,natural_gas,consumption
0,2016-01-01,2440.0,23.0,6.0,15120.0,127103.0
1,2016-01-02,2440.0,23.0,6.0,15120.0,127530.0
2,2016-01-03,2440.0,23.0,6.0,15120.0,127693.0
3,2016-01-04,2440.0,23.0,6.0,15120.0,143012.0
4,2016-01-05,2440.0,23.0,6.0,15120.0,147147.0
...,...,...,...,...,...,...
3191,2024-09-26,1367.0,0.0,73.0,34578.0,83902.0
3192,2024-09-27,1367.0,0.0,73.0,34578.0,80772.0
3193,2024-09-28,1367.0,0.0,73.0,34578.0,78448.0
3194,2024-09-29,1367.0,0.0,73.0,34578.0,79021.0
3195,2024-09-30,1367.0,0.0,73.0,34578.0,86482.0

In [14]:
features.merge(new_targets[['date', 'consumption']], on='date').to_csv("../../data/dataset.csv", index=False)

In [15]:
pd.read_csv("../../data/dataset.csv")

,date,demand,net_generation,total_interchange,net_generation_coal,net_generation_natural_gas,net_generation_nuclear,net_generation_hydropower_and_pumped_storage,net_generation_solar,net_generation_wind,net_generation_other_fuel_sources,DAPR,MDPR,PRCP,SN52,SN53,SNOW,SNWD,SX52,SX53,TMAX,TMIN,TOBS,WESD,WSFG,WT01,WT03,WT04,WT05,WT06,WT11,consumption
0,2016-01-01,69621.0,67425.0,-3254.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,1122.0,12.0,295.0,3.0,50.0,17.0,3.0,69.0,61.0,17.0,6.0,-59.0,-34.0,70.0,NaN,1.0,1.0,1.0,NaN,1.0,NaN,127103.0
1,2016-01-02,69855.0,67906.0,-2904.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,1122.0,8.0,238.0,1.0,43.0,17.0,2.0,66.0,50.0,17.0,18.0,-62.0,-39.0,70.0,NaN,1.0,1.0,1.0,NaN,1.0,NaN,127530.0
2,2016-01-03,69944.0,67305.0,-3588.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,1122.0,6.0,218.0,1.0,41.0,17.0,3.0,63.0,50.0,17.0,30.0,-56.0,-26.0,70.0,192.0,1.0,1.0,1.0,NaN,1.0,1.0,127693.0
3,2016-01-04,78335.0,77001.0,-2642.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,1122.0,6.0,218.0,2.0,33.0,17.0,7.0,64.0,45.0,17.0,18.0,-65.0,-50.0,71.0,192.0,1.0,1.0,1.0,NaN,1.0,1.0,143012.0
4,2016-01-05,80600.0,81083.0,-896.0,39962.0,20101.0,11610.0,746.0,0.0,3865.0,1122.0,6.0,218.0,0.0,32.0,17.0,3.0,61.0,44.0,17.0,7.0,-88.0,-57.0,71.0,192.0,1.0,1.0,1.0,NaN,1.0,1.0,147147.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,2024-09-26,72928.0,72284.0,-1913.0,22324.0,28769.0,10857.0,795.0,2569.0,6648.0,322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83902.0
3192,2024-09-27,70208.0,66866.0,-4587.0,19276.0,25047.0,10850.0,839.0,1461.0,9149.0,245.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80772.0
3193,2024-09-28,68188.0,64603.0,-4712.0,18684.0,23013.0,10067.0,882.0,1753.0,9947.0,256.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78448.0
3194,2024-09-29,68686.0,64901.0,-4938.0,19005.0,24269.0,10066.0,845.0,1846.0,8634.0,236.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79021.0
3195,2024-09-30,75171.0,73779.0,-3023.0,19528.0,28041.0,10058.0,883.0,1905.0,13132.0,231.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86482.0